#my_body {
  /* user-select: none; */
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  position: fixed;
  right: 15px;
  bottom: 30px;
}

#my_box {
  width: 280px;
}

#my_icon {
  width: 30px;
  height: 30px;
  background-size: cover;
  position: relative;
  z-index: 99;
}

li{
  list-style: none;
}
.my_dom_highlight {
  background-color: rgba(0, 0, 0, 0.55) !important;
  box-shadow: 0 7px 6px rgba(0, 0, 0, 0.2), 2px 4px 6px rgba(0, 0, 0, 0.5) !important;
  border: 5px double red;
  z-index: 99999;
}
.show{
  display: block;
}
.hide{
  display: none;
}
#my_title {
  font-style: oblique;
  font-size: 15px;
  color: #fff;
}
#my_motto {
  color: #fff;
  background-color: #00cfbe;
  font-weight: 500;
  padding: 3px 0;
}
#my_ul {
  font-size: 14px;
}
#my_ul li {
  padding: 4px 2px;
  color: #fff;
}
#my_ul .time {
  font-weight: 600;
  color: red;
  padding: 0 !important;
  margin: 0 !important;
}

.text-center {
  text-align: center;
}
.flex-row{
  display: flex;
  justify-items: flex-start;
}
