.popupBox {
  width: 160px;
  text-align: center;
}
.pop_title {
  color: #0970d7;
}
.popup_con {
}

.tip {
  color: red;
}

#httpBtn {
  padding: 5px 10px;
  color: #409eff;
  border: 0;
  background: #ecf5ff;
  border-color: #b3d8ff;
  border-radius: 20px;
}

#httpBtn:hover {
  color: #fff;
  background-color: #409eff;
  border-color: #409eff;
}
